# Ignore history folder
.history/

# Ignore node_modules folders in both client and server
/client/node_modules/
/server/node_modules/

# Ignore build output directories
/client/build
/server/build

# Ignore environment files (if you have them)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files (macOS, Linux, Windows)
.DS_Store
Thumbs.db
